
body {
    background-color: black;
    color: white;

}
h1, td, tr {
    color: white;
}

.col-4 {
  overflow: hidden;
  height: 708px;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  width: 30%;
  background-color: #7d7d7d;
  color: white;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #7d7d7d;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 70%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

.main {
  margin: 20px auto;
  item-align: center;
  width: 80%;
}

.bn47 {
    position: relative;
    padding: 1rem 2rem 0.5rem 2.5rem;
    color: #000000;
    border: 3px solid #776e62;
    -webkit-transition: padding 0.3s ease-in-out;
    transition: padding 0.3s ease-in-out;
    margin-left: 30px;
   
  }
  
  .bn47:before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .bn47:hover {
    padding: 0.75rem 2.25rem;
    text-decoration: none;
  }
  
  .bn47:hover:before {
    top: 0;
    left: 0;
  }